/* <!-- 中间 菜单+ 轮播+个人信息  --> */
main{
    position: relative;
}
.grid{
    padding:10px 0 ;
    height: 480px;
}

/* .gridLeft-------- */
.gridLeft{
    width: 190px;
    height: 100%;
    background-color: #fff;
}
.gridLeft ul{
    /* padding: 20px 0; */
    padding: 15px 0;
}
.gridLeft ul li{
    padding-left: 12px;
    font-size: 14px;
    color: #333;
    line-height: 25px;
}
.gridLeft ul li:hover{background-color: #d9d9d9;}
.gridLeft ul a{
    font-size: 14px;
    color: #333;
    /* margin: 0 3px; */
}
.gridLeft ul a:hover{
    color: #c81623;
}

/* .gridCenter-------- */
.gridCenter{
    width: 790px;
    height: 100%;
    margin-left: 10px;
}
.gridCenter .big{
    width: 600px;
    height: 100%;
    margin-right: 10px;
}
.gridCenter .small{
    width: 180px;
    height: 100%;
}


/* .gridRight-------- */
.gridRight{
    width: 190px;
    height: 100%;
    background-color: #fff;
    font-size: 12px;
}

.gridRight .login{
    width: 100%;
    height: 95px;
    padding-top: 15px;
    position: relative;
}
.loginImgInfo{
    padding: 0 20px;
    height: 50px;
    text-align: left;
    padding-left: 80px;
    line-height: 20px;
    /* 多于字体的隐藏显示 */
    /* 强制一行显示 */
    white-space:nowrap;
    /* 溢出隐藏 */
    overflow:hidden;
    /* 超出部分 显示 省略号 */
    text-overflow:ellipsis;
    color: #666;
    position: relative;
}
.log , .reg{
    color: #111;
}
.loginImgInfo .imgInfo{
    position: absolute;
    top: 0;
    left: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid #eeeeee;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}
.loginImgInfo .imgInfo img{
    width: 100%;
}
.loginBtn{
    padding: 0 15px;
}
.gridRight .login::after,.news::after{
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 15px;
    right: 15px;
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: " ";
}
.gridRight .loginBtn{
    padding: 10px 20px 0 20px;
}
.loginBtn .newUser,.vip{
    display: inline-block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background: #e1251b;
}
.loginBtn .vip{
    background: #363634;
    color: #e5d790;
}
.loginBtn > a:hover{
    background-color: #c81623;
    color: #fff;
}


.gridRight .news{
    height: 110px;
    position: relative;
    padding: 10px 15px;
    /* background-color: aquamarine; */
}
.gridRight .news .newsTilte{
    position: relative;
    margin-bottom: 8px;
    /* 190px */
    width: 100%;
    height: 20px;
}
.gridRight .news h5{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
}
.gridRight .news .moreNews{
    position: absolute;
    top: 0;
    right: 0;
}
.gridRight .news .newsContent{
    height: 88px;
}
.gridRight .news .newsContent .contentItem{
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}
.gridRight .news .newsContent .newTag{ 
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
}

.gridRight .extends{
    height: 230px;
    padding: 5px 0.5px;
    /* border: 1px solid black; */
    /* background-color: purple; */
}
.gridRight .extends ul li{
    text-align: center;
    padding-top: 5px;
    width: 63px;
    float: left;
}
.gridRight .extends ul li .extendIcon{
    display: inline-block;
    width: 28px;
    height: 28px;
}
.gridRight .extends ul li .extendIcon img{
    display: block;
    width: 100%;
    height: 100%;
}
.gridRight .extends ul li .extendIcon img.hoverIcon{
    display: none;
}
.gridRight .extends ul li .extendIcon img.showIcon:hover{
    display: none;
}
.gridRight .extends ul li .extendIcon img.showIcon:hover +  .hoverIcon{
    display: block;
}
.gridRight .extends ul li .iconTip{
    padding-top: 5px;
    display: inline-block;
    width: 100%;
}


/* <!-- 背景AD --> */
.gridBgAdBox{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.gridBgAd{
    position: absolute;
    width: 100%;
    height: 710px;
    left: 0px;
    top: 0px;
    margin: 0px;
    background: #f4f4f4;
}
.gridBgAd .adPhoto{
    display: block;
    height: 710px;
    background: url('../imgs/ad/9855e2bde50c683b.png.webp') 50% 0 no-repeat;
}


.hourShopAd{
    margin-top: 30px;
    /* 外边距塌陷--写20px以下 不出效果 */
    margin-bottom: 30px;
    height: 260px;
    background-color: #fff;
}
.countDown{
    width: 190px;
    height: 100%;
    background:url('../imgs/icon/4a15d8883775742e3efbb850ae14def7.png') ;
    color: #fff;
}
.countDown h5{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
}
.countDown p{
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
}
.countDown p .timeCount{
    font-size: 18px;
    font-weight: bold;
}
.countDown div{
    width: 170px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    text-align: center;
    line-height: 30px;
}
.hourCount , .minuteCount ,.secondCount{
    display: inline-block;
    width: 30px;
    height: 30px;    
    background-color: #333;
    text-align: center;
    vertical-align: middle;
}
.hourCount , .minuteCount{
    margin-right: 20px;
    position: relative;
}
.hourCount::after, .minuteCount::after{
    content: ":";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -20px;    
    font-weight: bolder;
    font-size: 18px;
    width: 20px;
    height: 100%;
}

.swiperGoodList{
    /* 轮播样式 写在 swiper.css里 */
    width: 800px;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
}

.swiperBrandList{
    /* 轮播样式 写在 swiper.css里 */
    width: 200px;
    height: 100%;
}

/* <!-- 618 大促 活动楼层  --> */

.activity618{
    /* width: 100%; */
}
.activity{
    margin: 20px auto;
    /* background-color: #333; */
    width: 1270px;
    height: 555px;
    background: url('../imgs/icon/cc916f6ca9b2e064.jpg_cc_1270x555.jpg') no-repeat;
    /* 父子 元素 的 margin （上下） 塌陷 */
    overflow:hidden;
}

.activityGoods{
    margin-top: 108px;
    width: 1202.5px;
    height: 448px;
    margin-left: auto;
    margin-right: auto;
}
.activityItem{
    width: 1200px;
    height: 100%;
    margin: 0 5.25px;
}
.activityItem a{
    display: inline-block;
    width: 190px;
    height: 210px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    float: left;
    overflow: hidden;
}
.activityItem .activityItemImg{
    margin-left: 30px;
    margin-left: 30px;
    margin-top: 7px;
    width: 130px;
    height: 130px;
}
.activityItem .activityItemInfo{
    background: url('../imgs/icon/ce484c2ce3c9c8da.png!cc_190x210.png');
    background-position: 0 -140px ;
    margin-top: 3px;
    width: 190px;
    height: 70px;
    text-align: center;
    position: relative;
}
.activityItem .activityItemInfo .activityAd{
    width: 190px;
    height: 32px;
}
.activityItem .activityItemInfo span{
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    z-index: 999;
    font-size:17px;
    font-weight: bolder;
}
.activityItem .activityItemInfo p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: #de452b;
    line-height: 16px;
}